/* css styles */

/*GDS Transport font*/
@font-face {
  font-family:GDS Transport;
  font-style:normal;
  font-weight:400;
  src:url(assets/fonts/light-94a07e06a1-v2.woff2) format("woff2"),url(assets/fonts/light-f591b13f7d-v2.woff) format("woff");
  font-display:fallback
}

@font-face {
  font-family:GDS Transport;
  font-style:normal;
  font-weight:700;
  src:url(assets/fonts/bold-b542beb274-v2.woff2) format("woff2"),url(assets/fonts/bold-affa96571d-v2.woff) format("woff");
  font-display:fallback
}


body {
  color:#0b0c0c;
  font-family:GDS Transport,arial,sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/*.govuk-heading-xl*/
h1 {
  font-weight:700;
  font-size:32px;
  font-size:2rem;
  line-height:1.09375;
  display:block;
  margin-top:0;
  margin-bottom:30px
}

/*.govuk-heading-l*/
h2 {
  font-weight:700;
  font-size:24px;
  font-size:1.5rem;
  line-height:1.0416666667;
  display:block;
  margin-top:0;
  margin-bottom:20px
}

/*.govuk-heading-m*/
h3 {
  font-weight:700;
  font-size:18px;
  font-size:1.125rem;
  line-height:1.1111111111;
  display:block;
  margin-top:0;
  margin-bottom:15px
}

/*.govuk-heading-s*/
h4 {
  font-weight:400;
  font-size:14px;
  font-size:.875rem;
  line-height:1.1428571429;
  margin-top:0;
  margin-bottom:15px
}

/*.govuk-body,.govuk-body-m */
p {
  font-weight:400;
  font-size:16px;
  font-size:1rem;
  line-height:1.25;
  margin-top:0;
  margin-bottom:15px
}

/*govuk-body-l,.govuk-body-lead*/
p.lead {
  font-weight:400;
  font-size:18px;
  font-size:1.125rem;
  line-height:1.1111111111;
  margin-top:0;
  margin-bottom:20px
}

a:link {
  color: #1d70b8;
}

a:visited {
  color: #4c2c92;
}

a:active {
  color: none;
  background-color: none;
}

a:hover {
  color: #003078;
  text-decoration-thickness: 3px;
}

p a:active {
  color: black;
  background-color: #ffdd00;
  text-decoration-thickness: 3px;
}


/* styling for tile header links */

h3 a:link {
  color: black;
  text-decoration: none;
}

h3 a:hover {
  color: #003078;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

h3 a:active {
  color: black;
  text-decoration: underline;
  background-color: #ffdd00;
  text-decoration-thickness: 3px;
}


h3 a:visited {
  color: black;
  text-decoration: none;
}




table {
  width: 100%;
  overflow-x: auto;
}

td { 
  width: 20%;
}

img:hover {
  -webkit-filter: saturate(4);
   filter: saturate(4);
}

/* styling for panel tabset headings */
.panel-tabset .nav-item,
.panel-tabset .nav-item a:visited {
  color: black;
  text-decoration: none;
}

.panel-tabset .nav-item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.panel-tabset .nav-item a:active,
.panel-tabset .nav-item a:focus {
  font-weight:700;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}


.body-text {
margin-left: 150px;
font-size: 18px;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



/* resize for mobile */

@media only screen and (max-width: 800px) {
  th:nth-child(3) {
    display:none;
  }
  td:nth-child(3) {
    display:none;
  }
  th:nth-child(4) {
    display:none;
  }
  td:nth-child(4) {
    display:none;
  }

}

/* .govuk-button and .govuk-button--secondary styles - copied form GDS.css */
.govuk-button{font-family:"GDS Transport",arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:400;font-size:16px;font-size:1rem;line-height:1.1875;box-sizing:border-box;display:inline-block;position:relative;width:100%;margin-top:0;margin-right:0;margin-left:0;margin-bottom:22px;padding:8px 10px 7px;border:2px solid rgba(0,0,0,0);border-radius:0;color:#fff;background-color:#00703c;box-shadow:0 2px 0 #002d18;text-align:center;vertical-align:top;cursor:pointer;-webkit-appearance:none}@media print{.govuk-button{font-family:sans-serif}}@media(min-width: 40.0625em){.govuk-button{font-size:19px;font-size:1.1875rem;line-height:1}}@media print{.govuk-button{font-size:14pt;line-height:19px}}@media(min-width: 40.0625em){.govuk-button{margin-bottom:32px}}@media(min-width: 40.0625em){.govuk-button{width:auto}}.govuk-button:link,.govuk-button:visited,.govuk-button:active,.govuk-button:hover{color:#fff;text-decoration:none}.govuk-button::-moz-focus-inner{padding:0;border:0}.govuk-button:hover{background-color:#005a30}.govuk-button:active{top:2px}.govuk-button:focus{border-color:#fd0;outline:3px solid rgba(0,0,0,0);box-shadow:inset 0 0 0 1px #fd0}.govuk-button:focus:not(:active):not(:hover){border-color:#fd0;color:#0b0c0c;background-color:#fd0;box-shadow:0 2px 0 #0b0c0c}.govuk-button:before{content:"";display:block;position:absolute;top:-2px;right:-2px;bottom:-4px;left:-2px;background:rgba(0,0,0,0)}.govuk-button:active:before{top:-4px}

.govuk-button--secondary{background-color:#f3f2f1;box-shadow:0 2px 0 #929191}.govuk-button--secondary,.govuk-button--secondary:link,.govuk-button--secondary:visited,.govuk-button--secondary:active,.govuk-button--secondary:hover{color:#0b0c0c}.govuk-button--secondary:hover{background-color:#dbdad9}.govuk-button--secondary:hover[disabled]{background-color:#f3f2f1}
