/*-- scss:defaults --*/
$link-color: #00947E;
$toc-active-border: #006652;
$toc-inactive-border: #006652;
$toc-font-size: 17px;

/*-- scss:rules --*/

body {
    font-size: 17px;
    line-height: 1.5em;
    font-family: Arial, sans-serif;
}

h1.title {
    color: white;
    background-color: #006652;
    text-align: left;
    line-height: 100%;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 5px  solid  #00A88F;
    padding: 10px 30px 10px 10px;
}

h1 {
    color: #00A88F;
    text-align: left;
    line-height: 100%;
    font-size: 36px;
    font-weight: bold;
    padding: 15px 30px 15px 0;
    border-bottom: none;
}

h2 {
    color: #00A88F;
    line-height: 100%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 30px 15px 0;
    border-bottom: none;
}

h3 {
    color: #00A88F;
    line-height: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px 15px 0;
}

h4 {
    font-weight: bold;
    font-size: 20px;
    border-bottom: none;
}

h5 {
    font-weight: bold;
    font-size: 18px;
    border-bottom: none;
}

.DHSC_logo {
  padding:30px 0 30px 0;
  height:190px
}

#toc-title {
  display: none;
}

#TOC {
  color: #00947E !important;
}

#TOC a:hover{
  text-decoration: underline;
  //text-decoration-thickness: max(3px, .1875rem, .12em);
  text-underline-offset: .1578em;
  text-decoration-skip-ink: none;
  color: #006652 !important;
}

a {
  text-decoration: underline;
  //text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: .1578em;
  text-decoration-skip-ink: none;
}


a:hover {
  text-decoration: underline;
  //text-decoration-thickness: max(3px, .1875rem, .12em);
  text-underline-offset: .1578em;
  text-decoration-skip-ink: none;
  color: #006652 !important;
}

a:visited {
  color: #4c2c92;
}

.panel-tabset > .nav-tabs > a {
  color: #006652 !important;
}

a.nav-link {
  color: rgb(73, 80, 87) !important;
}

a.nav-link:visited {
  color: rgb(73, 80, 87) !important;
}

a.nav-link:hover {
  color: rgb(73, 80, 87) !important;
  text-decoration: underline;
  //text-decoration-thickness: max(3px, .1875rem, .12em);
  text-underline-offset: .1578em;
  text-decoration-skip-ink: none;
}

@media print {
.panel-tabset > .tab-content > .tab-pane {
  display: block !important;
}

.panel-tabset > .tab-content {
  border: none;
  padding: 0;
}

.panel-tabset > .nav-tabs {
  display: none;
}

.tabset-margin-container {
  display: none;
}

.tab-pane > p {
  padding-top: 0 !important;
}

}