/*-- scss:defaults --*/
$toc-active-border: #1d70b8;

/*-- scss:rules --*/

body {
    font-size: 17px;
    line-height: 1.5em;
    font-family: Arial, sans-serif;
}

.DHSC_logo {
  padding:30px 0 30px 0;
  height:190px
}


/* Headings */

h1.title {
    color: white;
    background-color: #006652;
    text-align: left;
    line-height: 100%;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 5px  solid  #00A88F;
    padding: 10px 30px 10px 10px;
}

h1 {
    text-align: left;
    line-height: 100%;
    font-size: 36px;
    font-weight: bold;
    padding: 15px 30px 15px 0;
    border-bottom: none;
}

h2 {
    line-height: 100%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 30px 15px 0;
    border-bottom: none;
}

h3 {
    line-height: 100%;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px 15px 0;
}

h4 {
    font-weight: bold;
    font-size: 20px;
    border-bottom: none;
}

h5 {
    font-weight: bold;
    font-size: 18px;
    border-bottom: none;
}


/* TOC */

#toc-title {
  display: none;
}

#TOC a {
  font-size:16px;
  color: #1d70b8 !important;
  border: none !important;
}

#TOC a:hover{
  text-decoration: underline;
  text-decoration-thickness: max(3px, .1875rem, .12em);
  text-underline-offset: .1578em;
  text-decoration-skip-ink: none;
  color: #003078 !important;
  border: none !important;
}


#TOC a.active{
  border: initial !important;
  border-left-style: solid !important;
}


.nav-link {
  color: #1d70b8
}


/* Links */

a:link {
  color: #1d70b8;
}

a:visited {
  color: #4c2c92;
}

a:active {
  color: none;
  background-color: none;
}

a:hover {
  color: #003078;
  text-decoration-thickness: 3px;
}

p a:active {
  color: black;
  background-color: #ffdd00;
  text-decoration-thickness: 3px;
}


/* styling for panel tabset headings */
.panel-tabset .nav-item,
.panel-tabset .nav-item a:visited {
  color: black;
  text-decoration: none;
}

.panel-tabset .nav-item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.panel-tabset .nav-item a:active,
.panel-tabset .nav-item a:focus {
  font-weight:700;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}



/* Printing */


@media print {
.panel-tabset > .tab-content > .tab-pane {
  display: block !important;
}

.panel-tabset > .tab-content {
  border: none;
  padding: 0;
}

.panel-tabset > .nav-tabs {
  display: none;
}

.tabset-margin-container {
  display: none;
}

.tab-pane > p {
  padding-top: 0 !important;
}

}
